.home {
  /* padding-top: 3.6rem; */
}

.home h1,
.home h2,
.home h3,
.home h4,
.home h5,
.home h6 {
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif" !important;
  font-weight: 200 !important;
  letter-spacing: 1px;
}

.home p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.home section {
  padding: 100px 0;
}

.home section h2 {
  font-size: 50px;
}

.home nav {
  border-color: rgba(34, 34, 34, 0.05);
  background-color: white;
  transition: all 0.35s;
  font-family: "Catamaran", "Helvetica", "Arial", "sans-serif";
  font-weight: 200;
  letter-spacing: 1px;
}

.home nav button {
  font-size: 12px;
  padding: 8px 10px;
  color: #222222;
}

.masthead {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("../../assets/Image/bg-pattern.png"), #7b4397;
  background: url("../../assets/Image/bg-pattern.png"),
    linear-gradient(to left, #7b4397, #dc2430);
}

.header_content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: center;
}
.device_container {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .header_content {
    margin-bottom: 0;
    text-align: left;
  }
  .header_content h1 {
    font-size: 50px;
  }
  .device_container {
    width: 20rem;
  }
}

.download {
  position: relative;
  padding: 150px !important;
}

.download h2 {
  font-size: 50px !important;
  margin-top: 0;
}

section.download .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

section.download .badges .badge-link:last-child {
  margin-bottom: 0;
}

.bg_primary {
  background: #fdcc52;
  background: linear-gradient(#fdcc52, #fdc539);
}

.text_primary {
  color: #fdcc52;
}
