.msgInput {
  width: 100%;
  padding: 0.5rem 0.5rem;
  background: rgba(255, 255, 255, 0.7);
  left: 0;
}

.msgInput textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  background: #dedede;
  border: 0;
  border-radius: 1rem;
  font-size: 1rem;
  max-height: 9rem !important;
}

.msgInput textarea:focus {
  outline: 0 !important;
  border: 0 !important;
  background: #fff;
  border-bottom: 1px solid #27e !important;
}
.btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #777;
}
.btn:hover {
  color: #000;
}

@media only screen and (min-width: 1200px) {
  .msgInput {
    padding: 1rem 0.5rem;
  }

  .msgInput input {
    font-size: 1.2rem;
    padding: 0.6rem 1.3rem;
  }
}
