
.chatroom{
    position: relative;
    height: 100%;
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.icon{
    height: 3rem;
    width: 3rem ;
    border-radius: 50%;
    background: #ddd;
    overflow: hidden;
}
.icon img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.chats{
    margin-bottom: 5.2rem;
    padding: 1rem;
    overflow: auto;
    height: calc(100% - 5.2rem);
}
.chats > div{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: flex-end;

}
.chats > div > *{
    flex-grow: 0;
    flex-shrink: 0;

}
