body {
  margin: 0;
  font-family: 'Source Sans Pro',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

:root {
  background: #eee;

}

a:hover {
  text-decoration: none !important
}

::-webkit-scrollbar {
  width: .1rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(133, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(92, 0, 0, 0.5);
}

h5,
h4 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  color: #777
}

h3,
h2 {

  text-transform: capitalize;
  font-family: 'Architects Daughter',
    cursive;
  font-weight: bolder
}

h1 {
  font-family: 'Gochi Hand',
    cursive;

}

::selection {
  background: orangered;
  color: white
}

@media only screen and (min-width : 1200px) {
  ::-webkit-scrollbar {
    width: .5rem;
  }
}


/* 
font-family: 'Gochi Hand', cursive;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Architects Daughter', cursive;
*/