body {
  margin: 0;
  font-family: 'Source Sans Pro', cursive,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

:root {
  background: #eee;

}

a:hover {
  text-decoration: none !important
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

h5,
h4 {
  font-family: 'Josefin Sans', cursive, sans-serif;
}

h3,
h2 {
  font-family: 'Gochi Hand',
    cursive;
  text-transform: capitalize
}

h1 {
  font-family: 'ZCOOL QingKe HuangYou',
    cursive;
}

/* 
font-family: 'Josefin Sans', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'ZCOOL QingKe HuangYou', cursive;
font-family: 'Gochi Hand', cursive;
font-family: 'Source Sans Pro', sans-serif;
*/